/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 10000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7C5327;
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: #661D00;
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5,0.5,1);
  }
}

.frame {
  width: 100%;
  position: fixed;
  top: 20px;
  z-index: 9;
  font-size: 14rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
  & > a, h1 a{
    @include underline;
  }
  h1 {
    font-size: inherit;
    font-weight: normal;
  }
  .cdawrap {
    max-width: 217rem;
    position: fixed;
    bottom: 20px;
    text-align: center;
    line-height: 0.916;
    text-transform: none;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 0px 15px;
    top: 15px;
    &::before, &::after {
      content: '';
      display: block;
      width: 100%;
      height: 160px;
      background: linear-gradient(0deg, rgba(#7C5327, 0) 0%, rgba(#7C5327, 1) 80%);
      position: absolute;
      left: 0;
      z-index: 0;
    }
    &::before {
      top: -15px;
    }
    &::after {
      top: calc(100dvh - 160px);
      background: linear-gradient(180deg, rgba(#7C5327, 0) 0%, rgba(#7C5327, 1) 80%);
    }
    & > * {
      z-index: 1;
    }
    h1 {
      width: 100%;
    }
    .cdawrap {
      bottom: 15px;
    }
  }
}