.smart-text {
  .line {
    display: block;
    font-weight: inherit;
    will-change: transform;
  }
  .text {
    display: inline-block;
    white-space: nowrap;
    font-weight: inherit;
  }
  .word {
    display: inline-block;
    &:not(:last-child).right-space {
      padding-right: 0.2em;
    }
    &:not(:first-child).left-space {
      padding-left: 0.2em;
    }
  }
}