@import '../util';

#hero {
  width: 100%;
  height: 100vh;
  padding: 0 var(--margin);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  .column {
    width: calc(var(--column) * 2 + var(--gap));
    height: 100%;
    flex-shrink: 0;
    p {
      margin: 1em 0;
    }
    p.drop-cap {
      .line:first-child {
        .word:first-child {
          height: 1em;
          &::first-letter {
            font-size: 6.85500em;
          }
        }
      }
    }
  }
  &-images {
    width: calc(var(--column) * 2 + var(--gap));
    aspect-ratio: 1 / 1;
    margin: 17rem auto;
    overflow: hidden;
    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
  &-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    small {
      font-size: 12rem;
    }
    h1, h2 {
      text-transform: uppercase;
      letter-spacing: -0.05em;
      margin: 0;
      line-height: 0.9;
    }
    h1 {
      font-size: 31.42rem;
      font-weight: normal;
    }
    h2 {
      font-family: 'Encode Sans';
      font-size: 74.6rem;
      font-weight: 800;
      font-style: normal;
      font-stretch: 125%;
    }
    
    p {
      max-width: 508rem;
      letter-spacing: 0;
      font-size: 10rem;
      line-height: 0.95;
      margin: 0;
      a {
        @include underline-reverse;
      }
    }
  }
  @media (max-width: 1024px) {
    .column {
      width: calc(var(--column) * 5 + var(--gap) * 4);
      margin-left: auto;
      margin-right: auto;
    }
    .column:last-child {
      display: none;
    }
    &-center {
      display: none;
    }
  }
}